# ZUBIN JAMES PALIT
# 20BEC0088

**ASSIGNMENT - 1**

In [2]:
import numpy as np
import pandas as pd

In [3]:
s1=pd.Series(np.random.rand(4))
s2=pd.Series(np.random.rand(4))
s3=pd.Series(np.random.rand(4))
s4=pd.Series(np.random.rand(4))

print(s1)
print(s2)
print(s3)
print(s4)

0    0.360394
1    0.562679
2    0.455271
3    0.954886
dtype: float64
0    0.327060
1    0.668666
2    0.951681
3    0.767409
dtype: float64
0    0.205808
1    0.192458
2    0.143765
3    0.039269
dtype: float64
0    0.831518
1    0.603273
2    0.935992
3    0.399160
dtype: float64

In [4]:
df=pd.DataFrame([s1,s2,s3,s4])
df

          0         1         2         3
0  0.360394  0.562679  0.455271  0.954886
1  0.327060  0.668666  0.951681  0.767409
2  0.205808  0.192458  0.143765  0.039269
3  0.831518  0.603273  0.935992  0.399160

In [5]:
df.columns=['Random Value 1','Random Value 2','Random Value 3','Random Value 4']
df

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0        0.360394        0.562679        0.455271        0.954886
1        0.327060        0.668666        0.951681        0.767409
2        0.205808        0.192458        0.143765        0.039269
3        0.831518        0.603273        0.935992        0.399160

In [6]:
df.describe()

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.431195        0.506769        0.621677        0.540181
std          0.275024        0.214041        0.393187        0.405961
min          0.205808        0.192458        0.143765        0.039269
25%          0.296747        0.470124        0.377394        0.309187
50%          0.343727        0.582976        0.695631        0.583284
75%          0.478175        0.619621        0.939915        0.814278
max          0.831518        0.668666        0.951681        0.954886

In [7]:
df.isnull().sum()

Random Value 1    0
Random Value 2    0
Random Value 3    0
Random Value 4    0
dtype: int64

In [8]:
df.dtypes

Random Value 1    float64
Random Value 2    float64
Random Value 3    float64
Random Value 4    float64
dtype: object

In [9]:
df.loc[:,['Random Value 2','Random Value 3']]

   Random Value 2  Random Value 3
0        0.562679        0.455271
1        0.668666        0.951681
2        0.192458        0.143765
3        0.603273        0.935992

In [10]:
df.iloc[:,[1,2]]

   Random Value 2  Random Value 3
0        0.562679        0.455271
1        0.668666        0.951681
2        0.192458        0.143765
3        0.603273        0.935992